<div class="row">
<div class="right_highscore">
<div class="score_pit">
<h4>Score Chart</h4>
<table>
  <tr>
    <th>Clickcount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clicks.each do |click| %>
  <tr>
    <td><%= click.clickcount %></td>
    <td><%= link_to 'Show', click %></td>
    <td><%= link_to 'Edit', edit_click_path(click) %></td>
    <td><%= link_to 'Destroy', click, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</div>
</div>
<div class="left_gamespan">
<div class="counter_pit">
<center>
<h5>Click Count</h5>
<div id="counter">0</div>
<%= render 'form' %>
</center>
</div>
</div>

</div>


<%# link_to 'New Click', new_click_path %>
